<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RoomItem">
	<insert id="insertRoomItem" parameterType="roomItem">
		INSERT INTO room_item(item_name, item_writer)
		VALUES(#{item_name}, #{item_writer})
	</insert>
	
	<select id="getRoomItemCount" resultType="int">
		SELECT COUNT(*)
		FROM room_item
	</select>
	
	<select id="getRoomItemList" resultType="roomItem">
		SELECT *
		FROM room_item
		<where>
			<if test="keyword != null">
				item_name LIKE '%' || #{keyword} || '%'
			</if>
		</where>
		ORDER BY item_code DESC
	</select>
	
	<update id="updateRoomItem" parameterType="roomItem">
		UPDATE room_item
		SET item_name = #{item_name}
		WHERE item_code = #{item_code}
	</update>
	
	<delete id="deleteRoomItem" parameterType="roomItem">
		DELETE FROM room_item
		WHERE item_code = #{item_code}
	</delete>
</mapper>